h1,h2{
    color: #20948b;
    font-size: 2rem;
}

a{
    color: #2dff11;
    font-weight:bolder;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;

}

img{
    height: 8rem;
    width: 8rem;
    border-radius: 10%;
    border: 2px solid #2dff11 ;
    margin-bottom: 5px;
}

.flex_container{
    display: flex;
    flex-direction: row;
    text-align: auto;
}
.flex_left{
    flex: 10%;
}
.flex_right{
    flex: 10%;
}


li{
    list-style-type: square;
    color: #2dff11;
    line-height: 2.6vh;
    font-weight: 600;
    color: #2dff11;
    text-decoration: none;
    margin: 1px;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
p{
    color: #2dff11;
}
