h1,h2{
    color: #20948b;
    font-size: 2rem;
}

a{
    color: #2dff11;
    font-weight:bolder;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    font-size: 2vh;
}

img{
    height: 8rem;
    width: 8rem;
    border-radius: 10%;
    border: 2px solid #2dff11 ;
    margin-bottom: 5px;
}

li{
    list-style-type: square;
    color: #2dff11;
    line-height: 2.6vh;
    font-weight: 600;
    color: #2dff11;
    text-decoration: none;
    margin: 1px;
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 1rem;
    text-indent: -1em;
}
p{
    color: #2dff11;
}


.container {
    margin: none;
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.flex_container{
    display: flex;
    flex-direction: row;
    text-align: auto;
}
.flex_left{
    flex: 10%;
}
.flex_right{
    flex: 10%;
}
.mydetail{
    text-align-last:auto;
}

/* responsive css */

@media screen and (min-width: 415px){
    .container-fluid {
      flex-direction: row;
    }
  }